@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Tilt+Warp&display=swap');

*{
    padding: 0;
    margin: 0;
}

h1{
    background-color: #0099ff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
table, th,td{
    border: 1px solid #444;
    border-collapse: collapse;
    padding: 5px 2px;
    font-family: 'Open Sans', sans-serif;
}
table{
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}
.conteudo{
    text-align: left;
}
.acoes{
    text-align: center;
}
th{
    background-color: #0062a3;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
tr:hover{
    background-color: #f7f5f5;
}

#editar{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.voltar{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.slrr{
    padding: 20px;
    background-color: #0062a3;
    width: 510px;
    text-align: center;
    margin-top: 20px;
    border-radius: 40px;
    margin-left: 30%;
}