@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Tilt+Warp&display=swap');

body {
  height: 100%;
  width: 100%;
  margin: 0%;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;

}

header {
  background-color: #0099ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9%;
  width: 100%;
  z-index: -10000000000;
}

.menu li {
  display: inline-block;
  font-size: 12px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0 50px;
  color: #ffffff;

}

.menu li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}

.menu li a:hover {
  text-decoration: none;
  color: #0099ff;
  transition-delay: 0.2s;
  transition: 0.2s;
}

#meuMenu {
  background-color: transparent;
  backdrop-filter: blur(20px);
  z-index: 3;
  border: none;
  display: none;
  box-shadow: 2px 2px 10px rgb(13, 166, 255);
  position: absolute;
  width: 50%;
  height: 90vh;
  top: -0vh;

}

h2 {
  font-size: 2em;
  color: rgb(0, 0, 0);
  position: absolute;
  margin-left: 20%;
  font-family: 'Open Sans', sans-serif;
}

.formulario {
  width: 100%;
  margin-top: 10%;
  text-align: center;
}

.input_titulo {
  font-size: 17px;
  border-radius: 0px;
  outline: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 70%;
  margin-top: 7%;
  transition: 0.2s;
}

.input_subtitulo {
  font-size: 17px;
  border-radius: 0px;
  outline: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 70%;
  margin-top: 7%;
  transition: 0.2s;
}

.input_conteudo {
  font-size: 17px;
  border-radius: 0px;
  outline: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 70%;
  margin-top: 7%;
  transition: 0.2s;
}

input[type="file"] {
  display: none;
}

.add {
  width: 25%;
}

.btn {
  background: rgb(255, 255, 255);
  border-color: rgb(13, 166, 255);
  font-size: 14px;
  border-radius: 40px;
  padding: 5px;
  width: 50%;
  color: rgb(13, 166, 255);
  transition: 0.2s;

}

.btn:hover {
  background: rgb(0, 132, 255);
  border-color: rgb(13, 78, 255);
  font-size: 14px;
  border-radius: 40px;
  padding: 5px;
  color: rgb(255, 255, 255);
  transition: 0.1s;
  box-shadow: 2px 2px 5px rgb(13, 166, 255);
}

@keyframes aparecer {
  0% {
    transform: translatey(-300px);
    opacity: 0%;
  }

  100% {
    transform: translatey(0);
    opacity: 100%;
  }
}

@keyframes desaparecer {
  0% {
    transform: translatey(0);
    opacity: 100%;
  }

  100% {
    transform: translatey(-300px);
    opacity: 0%;
  }
}

@keyframes aparecer2 {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes desaparecer2 {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}


#meuMenu b[class='add-cont'] {
  color: #0000;

}

#btn_adicionar {
  position: static;
  border: none;
  background: none;
  width: 8%;
  cursor: pointer;
  margin-left: 75%;
}

#img_adicionar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#contas_btn {
  background: none;
  border: none;
  cursor: pointer;
  width: 6%;
  position: static;
}

.adms {
  width: 100vh;
  margin-top: -30px;
  text-align: center;
  position: absolute;
  display: inline;
  margin-left: -1260px;
}

#contas_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

:root {
  --corfundo: #0062a3;
  --corhover: white;
  --corfonte: rgb(255, 255, 255);
}

nav {
  font-size: 170%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-top: 2px solid #0011ff;
}

.dp-menu ul {
  padding: 0%;
  background-color: var(--corfundo);
  width: 100%;
  padding-top: 0px;
  margin-top: 0px;
  z-index: 9;
}

.dp-menu ul li {
  display: inline-block;
  position: relative;
}

.dp-menu ul li a[id="conteudo"] {
  text-decoration: none;
  color: var(--corfonte);
  padding: 15px;
  margin-left: 50px;
}

.dp-menu ul li a[id="conteudo"]::after {
  content: '';
  position: absolute;
  margin-right: 5%;
  bottom: 0;
  left: 60px;
  width: 0.1px;
  transform: 0.5s;
  transition: 0.3s;
}

.dp-menu ul li a[id="conteudo"]:hover::after {
  width: 62%;
  transition: 0.2s;
}

.dp-menu ul li a[id="conteudo"]:hover {
  color: var(--corhover);
}

.dp-menu ul ul {
  display: none;
  position: absolute;
  left: 28.7%;
}

.dp-menu ul li:hover ul {
  display: block;
  font-size: 60%;
  border-radius: 0 0 10% 10%;
  animation-duration: 0.2s;
  animation-name: slidein;
  padding: 10%;
  width: 100px;
  left: 50;
}

@keyframes slidein {
  from {
    opacity: 0%;
    height: 0%;

  }

  to {
    opacity: 100%;
    height: 332%;
    z-index: 5;

  }
}

.dp-menu ul ul li a {
  left: 90;
}

.dp-menu ul ul li a {
  display: block;
  color: rgb(255, 255, 255);
}

.dp-menu ul ul li a[id="dp-c"] {
  text-decoration: none;
  padding-top: 18px;
  font-size: 20px;
}

.dp-menu ul ul li a[id="dp-c"]::after {
  content: '';
  position: absolute;
  margin-right: 5%;
  bottom: 0;
  left: 1px;
  width: 0.1px;
  border-bottom: 2px solid transparent;
  transform: 0.5s;
  transition: 0.3s;
}

.dp-menu ul ul li a[id="dp-c"]:hover::after {
  width: 99%;
  transition: 0.2s;
  border-bottom: 2px solid #86a7f5;
}

.dp-menu ul li p {
  text-decoration: none;
  color: var(--corfonte);
  padding-left: 1px;
  padding-right: 1px;
}

.dp-menu ul li p:hover {
  color: var(--corhover);

}

.dp-menu ul ul ul a {
  display: none;
  position: absolute;
}

.dp-menu ul ul ul a:hover {
  display: block;
}

.logosemfundo {
  width: 85px;
  margin-top: 7px;
}


h6 {
  margin-top: -20px;
  margin-left: -790px;
  font-size: 15px;
  position: absolute;
}

.tudo {
  display: flex;
}

.editarcont {
  background: none;
  border: none;
  width: 5%;
  cursor: pointer;
}

.imagem_editar {
  border-radius: 100%;
  width: 100%;

}

.apagarcont {
  background: none;
  border: none;
  width: 5%;
  cursor: pointer;
}

.imagem_apagar {
  border-radius: 100%;
  width: 100%;
}

.materia {
  width: 70%;
  padding: 20px;
}

.div_imagem_conteudo {
  width: 30%;
  text-align: center;
  padding: 20px;
}

.linha_conteudo {
  color: rgb(79, 79, 79);
  background-color: rgb(80, 80, 80);
  height: 2px;
  margin-top: 50;
  margin-bottom: 30;
}

.botao_login_principal {
  position: relative;
  padding: 10px 30px;
  margin: 0 15px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 50px;
}

.botao_login_principal:hover {
  color: rgb(255, 255, 255);
  background: rgb(5, 72, 179);
  cursor: pointer;

}

.botao_login_principal::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #5414ae;
  border-right: 2px solid #5414ae;
  transform: 0.5s;
  transition: 0.3s;
}

.botao_login_principal:hover::after {
  width: 97%;
  height: 97%;
  transition: 0.2s;
  border-radius: 15px;
}

.botao_login_principal::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid #5414ae;
  border-left: 2px solid #5414ae;
  transform: 0.5s;
  transition: 0.3s;
}

.botao_login_principal:hover::before {
  width: 97%;
  height: 97%;
  transition: 0.2s;
  border-radius: 15px;
}

.div_titulo_h6 {
  z-index: 2;
  margin-left: 1300px;
  position: absolute;
  margin-top: 20px;
}

footer {
  background-color: #0099ff;
  height: 65px;
  bottom: 0;
  width: 100%;
  text-align: center;
}

h3 {
  margin-left: -1100px;
  font-size: 10px;
  margin-top: 30px;
}

h5 {
  z-index: 10;
  margin-left: 1200px;
  right: 0;
  font-size: 10px;
  margin-top: -65px;
}

h4 {
  margin-top: -25px;
  font-size: 20px;
}

#foto_perfil_menu {
  margin-left: 93%;
  margin-top: 0.7%;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  float: right;
  position: absolute;
  background-color: white;
}

.foto_perfil {
  width: 100%;
}

input[value="editar"] {
  background: #0062a3;
}

#fieldset_perfil {
  height: 98vh;
  width: 20%;
  display: none;
  z-index: 1;
  background-color: #0099ff;
  position: absolute;
  border: none;
  left: 80%;
  border-left: #1500ff solid 3px;
}

#fieldset_perfil ul li {
  list-style: none;
  position: relative;
  margin-top: 30px;
}

#fieldset_perfil ul li a {
  color: white;
  text-decoration: none;
}

#fechar {
  width: 20%;
  height: 20%;
  border: none;
  background: none;
}

.fechar_img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .logosemfundo {
    width: 35px;
  }

  #header {
    height: 7%;
  }

  .ul1 {
    display: none;
  }

  #ftt {
    width: 38px;
    height: 38px;
    margin-left: 87%;
  }

  #btn_adicionar {
    width: 25%;
    margin-left: 60%;
  }

  #contas_btn {
    top: 1.5%;
    margin-left: -30%;
    width: 13%;
    position: absolute;
    overflow: hidden;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 1s;
  }

  h6 {
    display: none;
  }

  h5 {
    display: none;
  }

  h3 {
    display: none;
  }

  h2 {
    font-size: 30px;
  }

  #meuMenu {
    left: 69%;
    width: 90%;
    height: 80%;
  }

  .formulario {
    margin-top: 90px;
  }

  .apagarcont {
    position: absolute;
    margin-left: 17%;
  }

  h1 {
    font-size: 1.2em;
  }

  .imagem_conteudo {
    width: 70%;
    position: relative;
    margin-left: 20px;
    padding: 35px;
    z-index: -1;
    top: 10%;
  }

  #perfil {
    height: 100%;
    width: 200px;
    margin-left: 47%;
    display: none;
    z-index: 1;
    background-color: rgb(31, 79, 211);
    border-top: none;
    border-right: none;
    border-bottom: none;
  }

  .fechar_img {
    width: 100%;
    height: 100%;

  }

  #fechar {
    width: 20%;
    height: 20%;
    border: none;
    background: none;
  }
}